<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZP.Properties.Settings.ZPConnectionString" connectionString="Data Source=KOMPUTER\MSSQLSERVER01;Initial Catalog=ZP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ZP.Properties.Settings.ZPConnectionString1" connectionString="Data Source=DESKTOP-ARLDGH1\MSSQLSERVER2;Initial Catalog=ZP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ZP.Properties.Settings.ZPConnectionString2" connectionString="Data Source=MS-sql\sqlexpress;Initial Catalog=ZP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ZP.Properties.Settings.ZPConnectionString3" connectionString="Data Source=DESKTOP-99GNU2G\SQLEXPRESS;Initial Catalog=ZP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>